@import "variables";
@import "mixins";

body {
   background-color: $main-background;
}

h1 { 
   color: $main-color;
   font-size: $h1-size;
   padding: $main-padding;
}

p {
   font-size: $main-size;
   color: $main-color;
   border: 2px dotted $border-color;
   padding: $main-padding;
}

.alert-button{
   @include alert-button;
}

.main-button{
   @include main-button;
}